<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
 
    
      <%= product.name %><br>
      <%= product.price %><br>
      <%= product.description %><br>
      <%= image_tag product.image, :size => "100" if product.image.attached? %><br>
      <%= link_to "show product", product %>
    
     <p><%= time_ago_in_words(product.created_at) %></p>
 
  <% end %>
</ul>
<%= link_to "New Product", new_product_path %>
