<p> <%= image_tag @product.image, :size => "100" if @product.image.attached? %> </p>      
<h1><%= @product.name %></h1>
<p><%= @product.price %></p>
<p><%= @product.description %></p>
 
<% if @product.user_id == current_user %> 
<ul>
  <li><%= link_to "Edit", edit_product_path(@product) %></li>
    <li><%= link_to "Destroy", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </li>
  
   <li><%= link_to "Back to products", products_path %> </li>  
</ul>
<% end %>

<h2>Comments</h2>

<% @product.comments.each do |comment| %>
  
  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p><%= time_ago_in_words(comment.created_at) %></p>
 
  <%= link_to "Delete", 
   product_comment_path(@product, comment), data:{
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
<% end %>
   

<h2>Add a comment:</h2>
<%= form_with model: [ @product, @product.comments.build ] do |form| %>
  <div>
    <%= form.label :comment %><br><br>
    <%= form.text_field :comment %><br><br>
  </div>

 
  <div>
    <%= form.submit %>
  </div>
<% end %>