<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if logged_in? %>
    <h1>You have succesfully Login, <%= current_user.username %></h1>                          
    <%end%>

    <% if current_user.present? %>
    <%= button_to "Log Out", logout_path, method: :delete%>  <br>
    <% else %>
    <%= button_to "Sign Up", '/users/new', method: :get %><br>
    <%= button_to "Login", '/login', method: :get %>
    <% end %>
          
    <div> <% if flash[:notice]%> </div>
    <div> <%= flash[:notice] %></div>
    <% end %>              
    
    <%= yield %>
  </body>
</html>
